<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
<h3 class="text-center">Account Settings</h3>
<hr>

  <div class="col-md-4">
<h4 class="text-center">About Me</h4>
    <%= f.input :first_name, required: false, autofocus: true %>
    <%= f.input :last_name, required: false %>
    <%= f.input :gender, required: false %>
  </div>
  
  <div class="col-md-4">
  <h4 class="text-center">Profile Settings</h4>
    <%= f.input :bio, required: false %>
    <%= f.input :gym, required: false %>

    <%= f.input :exercise_frequency, required: false, label: 'How many times do you exercise a week?', placeholder: 'e.g. 3-5 days a week' %>
    <%= f.input :exercise_tod, required: false, label: 'When do you prefer to exercise?', placeholder: 'e.g. Mid-Afternoon' %>
    <%= f.input :exercise_type, required: false, label: 'What is your preffered sport', placeholder: 'e.g. Weights/Running' %>
  </div>

  <div class="col-md-4">
<h4 class="text-center">Password Settings</h4>
    <%= f.input :password, autocomplete: "off", label: 'New Password', hint: "Leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %> 
    
  </div>

  <div class="col-md-4 col-md-offset-4">
  <hr>
  <%= f.input :public, required: false, as: :select, label: 'Make profile public?' %>
  <%= f.input :current_password, hint: "We need your current password to confirm any changes", required: true %>
    <%= f.button :submit, "Update", class: 'btn-block' %>
  <hr>

<div class="text-center">
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<hr>
</div>
</div>
<% end %>


