<div class="row">
	<h3 class="text-center">Horfield Leisure Centre</h4>
<div class="col-md-4">
	<img src="http://s0.geograph.org.uk/geophotos/02/08/28/2082855_0595a0be.jpg
	" class="img-responsive" alt="Responsive image">
</div>
<div class="col-md-8">
<h4>About</h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<%= link_to "New Post", new_post_path, class: 'btn btn-primary' %>

</div>

</div>
<hr>

<div class="container">
<h3 class="text-center">Gym Feed</h4>

	<ul class="timeline">

	<% @posts.reverse_each do |post| %>

	<% if cycle('odd','even') == 'odd' %>
		<li class="timeline-inverted">
		<div class="timeline-badge info"></div>
	<% else %>
		<li>
		<div class="timeline-badge danger"></div>
	<% end %>

		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title"><%= post.user.first_name %></h4>
				<p>Enjoys: <%= post.user.exercise_type %></p>
				<p><small>Posted: <%=  time_ago_in_words(post.created_at)%> ago</small></p>
			</div>

			<div class="timeline-body">
				<p><%= post.content %></p>
				<br>
				<p><%= link_to 'View Profile', user_path(post.user.id) %></p>
			</div>
		</div>
		</li>

	<% end %>

	</ul>
</div>
			
			
		
