<nav class="navbar navbar-custom navbar-static-top">
    <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- Had to add GET or Javascript wouldn't load -->
			<%= link_to '<i class="fa fa-circle-o-notch"></i> Prototype'.html_safe, root_path, class: 'navbar-brand', method: :get %>
			
		</div>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'About <span class="sr-only">(current)</span>'.html_safe, about_path %></li>
				
			<% if current_user %>
				<li><%= link_to 'Profile', user_path(current_user) %></li>
				<li><%= link_to 'Account Settings', edit_user_registration_path %></li>
				<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
			<% else %>	

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <span class="caret"></span></a>

					<ul id="login-dp" class="dropdown-menu">
					<li>
					 <div class="row">
						<div class="col-md-12">
							<p>Login with:</p>
							<div class="social-buttons">
								<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
								<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
							</div>
                            <p>Or with your details below:</p>
								<form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Password</label>
											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forgot your password?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										
								</form>
						</div>

							<div class="bottom text-center">
								New here? <%= link_to 'Sign Up', new_user_registration_path %>
							</div>
					</div>
					</li>
					</ul>
        		</li>

        	<% end %>

			</ul>
			
		</div>
	</div>
</nav>

<!-- 
References:

Fancy Login form:
http://bootsnipp.com/snippets/featured/fancy-navbar-login-sign-in-form

NavBar:
http://bootsnipp.com/snippets/featured/findcond-navbar

 -->