<!DOCTYPE html>
<html>
  <head>
    <title>Prototype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round" rel="stylesheet"> 
  </head>

  <body>
  <!-- Rendering NavBar with Ruby code -->
  <%= render 'layouts/navbar' %>
  
  <div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-info fade-in">
    <button class="close" data-dismiss="alert">x</button>
      <%= msg %>
    </div>
    
  <% end %>
  
  </div>

  <div class="container">
  	<%= yield %>
  </div>
   
  </body>
</html>
